doctype html
html
  head
    title Clicking game
    block scripts
      script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=',crossorigin='anonymous')
      script.
        $(document).ready(function(){
          $.ajax({url: "http://35.177.53.190/api/first",
                  success: function(result){
                             $("#clicks").html("<p>" + result[0].amount + "</p>");
                           }})
          $('#click_me').click(function(){
            $.ajax({url: "http://35.177.53.190/api/click",
                   success: function(result){
                              $("#clicks").html("<p>" + result.amount + "</p>");
                            }
                  })
             });
        })
  body
    p.greetings#Clicking  Let's Start a Game

    a#click_me(href = "#" ) Click Me

    p#clicks You Clicked : #{click} times
